[user]
  name = Phil Ananin
  email = pmana@users.noreply.github.com
[push]
	default = tracking
[core]
	autocrlf = true
	excludesfile = ~/.gitignore
[alias]
	co = checkout
	st = status -sb
	ci = commit
  br = branch
  ds = diff --staged
  diff = diff --word-diff
  a = add -A
