snippet prov
	goog.provide('${1:class_name}');

snippet req
	goog.require('${1:class_name}');

snippet newfile
	goog.provide('${1:class_name}');
	goog.require('${2:inherited_from}');
	
	/**
	 * @constructor
	 * @extends {$2}
	 */
	$1 = function() {
		${3:body}
	}
	goog.inherits($1, $2);
